
/* removing default spacing */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

    /* smooth scrolling */
html{
    scroll-behavior: smooth;
}    

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000;
        color: white;
    }

    .container{
        width: 100%;
    }

    .hero{
        position: relative;
        height: 100vh;
        background-image: url("assets/images/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlay{
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.65);
       
    }

    .navbar{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 8%;

    }

    .logo{
        width: 160px;
    }

    .nav-right{
        display: flex;
        align-items: center;
        gap: 15px;

    }

    .language{
         padding: 8px 14px;
         background: black;
         color: white;
         border: 1px solid gray;
         border-radius: 4px;
    
    }

    .sign-in{
        background: #e50914;
        color: white;
        border: none;
        padding: 8px 18px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .sign-in:hover{
        background: #c11119;
    }

    .hero-content{
        position: relative;
        z-index: 2;
        height: calc(100vh-90px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;

    }

    .hero-content h1{
        font-size: 3.8rem; 
        max-width: 700;
        font-weight:900px ;
        line-height: 1.2;
    }

    .hero-content h3{
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .hero-content p{
        margin: 25px 0;
        font-size: 1.2rem;
    }

    .email-signup{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .email-signup input{
    width: 380px;
    max-width: 100%;
    padding: 18px;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    background: rgba(0,0,0,0.6);
    color: white;
    outline: none;
}

.email-signup input::placeholder{
    color: #ccc;
}

.email-signup button{
    padding: 18px 28px;
    font-size: 1.3rem;
    font-weight: bold;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.email-signup button:hover{
    background: #c11119;
}@media (max-width:768px){

    .navbar{
        padding:20px;
    }

    .logo{
        width:120px;
    }

    .hero-content h1{
        font-size:2.5rem;
    }

    .hero-content h3{
        font-size:1.2rem;
    }

    .hero-content p{
        font-size:1rem;
    }

    .email-signup{
        flex-direction:column;
        width:100%;
        align-items:center;
    }

    .email-signup input{
        width:90%;
    }

    .email-signup button{
        width:90%;
    }

}
